body {
    background-color: rgb(255, 255, 255);
}
h1{background-color: rgb(255, 255, 255);}
p{color: rgb(0, 0, 0);
border:solid rgb(255, 255, 255) 3px;
padding: 20px;
margin: 50px;

}
#second{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 5, 126);
}

.items{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 5, 126);
    margin: 10px
}
img{
    width: 350px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 10px;
}